* {
  color: white;
}
@font-face {
    font-family: 'MrRobot';
    src: url(/src/components/speaker/fonts/mrRobot.ttf);
}
#container{
  background-image: url(/src/components/speaker/images/red-background.png);
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: transparent;
}
#headline {
    font-family:'MrRobot', Times, serif;
    background-color: transparent;
}
.profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
}
#intro-para {
    width: 50%;
    background-color: transparent;
    text-align: center;
    font-size: 17px;
    
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    
    margin: 20px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.0s;
    transform-style: preserve-3d;
    background-color: transparent;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
    background-color: transparent;
  }
  
  .details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }

  .details-back {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    background-color: transparent;
    /* transform: translate(-50%, -50%); */
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 200px;
    border: solid 4px rgb(255, 255, 255);
    background-color: transparent;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
    background-color: transparent;

  }
  
  /* Style the back side */
  .flip-card-back {
    /* background-color: rgb(0, 0, 0); */
    color: white;
    transform: rotateY(180deg);

  }

  .speaker-name{
      background-color: transparent;
  }

@media only screen and (max-width: 970px) {
    /* For mobile phones: */
    .profiles {
      flex-wrap: wrap;
    }
  }