.clock {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  height: 200px;
  width: 560px;
  font-size: 30px;
  background: #000000;
  color: #fc0101;
  text-shadow: 2px 2px 8px;
  border-radius: 33.77px;
  border: 2px solid #7b0000;
  box-shadow: 0 0 2px 2px;
  line-height: 10px;
  padding-top: 5px;
}

.clock section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.clock section p {
  font-size: 3.5rem;
  padding-bottom: 33px;
}

.timer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 884px) {
  .timer-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .clock {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-style: normal;
    height: 100px;
    width: 360px;
    font-size: 1.2rem;
    background: #000000;
    color: #fc0101;
    text-shadow: 2px 2px 8px;
    border-radius: 33.77px;
    border: 2px solid #7b0000;
    box-shadow: 0 0 2px 2px;
    line-height: 10px;
    padding-top: 5px;
  }

  .clock section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

  .clock section p {
    font-size: 1.5rem;
    padding-bottom: 5%;
  }
}
